includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/

    level: max

    ignoreErrors:
        -   identifier: trait.unused
        -   identifier: argument.type

    excludePaths:
